{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <li class ="list"> {{ g.user.username }} : information </li>
    {{ form.csrf_token }}
    {% include "form_errors.html" %}
    <ul class="list-group">
        <li class="list-group-item"><strong>email:</strong> {{ g.user.email }}</li>
        <!-- 여기에 다른 사용자 정보를 추가할 수 있습니다  -->
    </ul>

    <hr>

    <a class="btn btn-danger" href="{{ url_for('auth.delete_account') }}" onclick="return confirm('Are you sure you want to delete your account?');"> Delete account</a>
</div>
{% endblock %}
